body
{
    margin:0;
}
#container
{
    //width:960px;
    margin:0 auto;
}
#header
{
    height:45px;
    width:100%;
    overflow: hidden;
    background:yellow;
}
#logo
{
    width:120px;
}
#content
{
    overflow: hidden;
}
.main-content
{
    //width:740px;
    //height:500px;
    //float: right;
    background:green;
}

.sidebar
{
    width:200px;
    height:500px;
    float:left;
    background:blue;
}

.thumbs
{
    overflow: hidden;
}

.thumb
{
    padding-bottom:10px;
    float: left;
    img
    {
        display: block;
        width:97% !important;
        margin:0 auto;          
    }
}

#footer
{
    height:150px;
    clear: both;
}
/*
@media only screen
and (min-width : 320px)
and (max-width : 760px)
{

}
*/
@media only screen and (min-width : 1200px)
{
    #header
    {
        background:black !important;
    }
    #container
    {
        width:1200px;
    }
    .thumb
    {
        width:20%;
    }
}

@media only screen and (min-width : 1024px) and (max-width: 1200px)
{
    #header
    {
        background:black !important;
    }
    #container
    {
        width:960px;
    }
    .thumb
    {
        width:25%;
    }

}
@media only screen and (max-width : 1024px)
{
    
    .thumb
    {
    }
    #container
    {
        position: absolute;
        left:10px;
        right:10px;
    }
    .main-content
    {
        background:green;
        width:100%;
    }

}


@media only screen and (min-width : 760px)
{
    #header
    {
        background:red;
    }
    .sidebar
    {
        position: relative;
        left:0;
        top:0;
    }
    .main-content
    {
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing: border-box;
        padding-left: 220px;
    }
}
@media only screen and (min-width : 760px) and (max-width : 1023px)
{
    .thumb
    {
        width:33.3333%;
    }

}

@media only screen and (max-width : 760px)
{
    .sidebar
    {
        display: none;
    }
}

@media only screen and (min-width : 480px) and (max-width : 760px)
{
    .thumb
    {
        width:33.3333%;
    }   
}




//Resolution 320px and 480px
@media only screen

and (max-width : 480px)
{
    .thumb
    {
        width:50%;
         
        img
        {
            width:98%;            
        }
    }

}